html{
   margin:0;
  padding:0;
  max-height:100vh;
  overflow:hidden;
}
body {

}

}
canvas {
  display: block;
}


/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  background: black;
  color: white;
}

/* Header/Logo Title */
.header {
  padding: 50px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}



